:root {
    --grid-gap: 20px;
}

.garden {
    font-family: "Lora";
}

.garden .logout {
    height: 70px;
    width: 120px;
    color: #4D4E4C;
    font-size: 20px;
    font-family: "Lora";
    position: absolute;
    right: 4vw;
    top: 10vh;
}