.garden-plot {
    background-color: var(--clr-offwhite);
    position: relative;
}

.garden-plot h2 {
    margin: 0;
}

.garden-plot h3 {
    margin-top: 0;
}

.garden-plot .variety::before {
    content: "(";
}

.garden-plot .variety::after {
    content: ")";
}

.garden-plot .garden-plot-info {
    display: flex;
    justify-content: space-between;
}

.garden-plot .x {
    position: absolute;
    right: -12px;
    top: -12px;
    display: none;
}

.garden-plot:hover .x {
    display: inline-block;
}

.garden-plot .plain-link {
    display: block;
    padding: 20px;
}

@media (hover: none) {
    .garden-plot .x {
        display: inline-block;
    }
}