:root {
    --grid-gap: 20px;
}

.garden-plots {
    background-color: #B3B0B0;
    padding: var(--grid-gap);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-gap: var(--grid-gap);
}