.new-crop-form {
    max-width: 500px;
    margin: 20px;
    padding: 10px;
    background-color: var(--clr-offwhite);
}

.new-crop-form .new-crop-form-row {
    margin-bottom: 10px;
}

.new-crop-form label, .new-crop-form input:not([type=submit]) {
    display: block;
    text-align: left;
}

.new-crop-form .new-crop-form-row:last-child {
    margin-bottom: 0;
    display: flex;
    justify-content: space-evenly;
}

.new-crop-form input:not([type=submit]) {
    width: 100%;
}

@media only screen and (min-width: 540px) {
    .new-crop-form {
        margin-right: auto;
        margin-left: auto;
    }
}