.garden-plots {
    padding: var(--grid-gap);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-auto-rows: minmax(175px, max-content);
    grid-gap: var(--grid-gap);
}