.garden-plot-detail {
    max-width: 500px;
    margin: 20px;
    padding: 10px;
    background-color: var(--clr-offwhite);
}

.garden-plot-detail .variety {
    display: block;
    font-size: 15px;
}

.garden-plot-detail .variety::before {
    content: "(";
}

.garden-plot-detail .variety::after {
    content: ")";
}

.garden-plot-detail h3, .garden-plot-detail .group span:nth-child(odd) {
    text-align: left;
}

.garden-plot-detail .group span:nth-child(even) {
    text-align: right;
}

.garden-plot-detail .grid {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

@media only screen and (min-width: 540px) {
    .garden-plot-detail {
        margin-right: auto;
        margin-left: auto;
    }
}