.garden-plot-detail {
    max-width: 500px;
    margin: 20px;
    padding: 10px;
    background-color: var(--clr-offwhite);
}

.garden-plot-detail .variety {
    display: block;
    font-size: 15px;
}

.garden-plot-detail .variety::before {
    content: "(";
}

.garden-plot-detail .variety::after {
    content: ")";
}

.garden-plot-detail h3, .garden-plot-detail .group span:nth-child(odd) {
    text-align: left;
}

.garden-plot-detail .group span:nth-child(even) {
    text-align: right;
}

.garden-plot-detail .grid {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.garden-plot-detail .center-input {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.garden-plot-detail .edit-crop-form-row {
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
}

.garden-plot-detail .edit-crop-form-row .buttonize {
    flex: 0 0 30%;
}

.btn-ctrlr {
    max-width: 500px;
    margin: 0 auto 20px auto;
    display: flex;
    justify-content: space-around;
}

.btn-ctrlr .back-btn {
    flex: 1 1;
    max-width: 33%;
}

@media only screen and (min-width: 540px) {
    .garden-plot-detail {
        margin-right: auto;
        margin-left: auto;
    }
}