.journal-year {
    width: 65%;
    margin: 0 auto;
    padding: 10px;
    text-align: left;
}

.journal-year .journal-header {
    background-color: pink;
    font-size: 25px;
    cursor: pointer;
    padding: 5px;
}

.journal-year .journal-entries {
    display: table;
    width: 100%;
    border: 1px solid pink;
}

.journal-year .journal-entries.hidden {
    display: none;
}