.journal {
    padding: 20px;
    background-color: var(--clr-eggplant);
}

.journal > h3 {
    margin: 0;
    text-align: left;
    padding-left: 10px;
}

.journal .accordion-indicator::after {
    content: "-";
    float: right;
    padding-right: 10px;
}

.journal .accordion-indicator.collapsed::after {
    content: "+";
}

.journal .new-entry {
    padding: 10px;
    background-color: var(--clr-offwhite);
}

.journal .new-entry.hidden {
    display: none;
}

.journal .new-entry-group {
    margin-bottom: 20px;
}

.journal .new-entry-group input {
    width: 100%;
}

.journal .new-entry input[type=date], .journal .new-entry textarea {
    width: 100%;
    border: 1px solid var(--clr-gray-green);
}

.journal .new-entry textarea {
    height: 36px;
}

.journal .new-entry-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.journal .cmd-btns {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex: 0 0 12%;
}

.journal .cmd-btns :not(:last-child) {
    margin-right: 5px
}

.journal .cmd-btns * {
    height: 36px;
    flex: 0 0 30%;
}

@media only screen and (min-width: 640px) {
    .journal > h3 {
        width: 65%;
        margin: auto;
    }

    .journal .new-entry {
        width: 65%;
        margin: 0 auto;
    }

    .journal .new-date {
        flex: none;
    }
    
    .journal .new-text {
        flex: 0 0 60%;
    }
}

@media only screen and (min-width: 1024px) {
    .journal .cmd-btns * {
        flex: 0 0 25%;
    }
}

@media only screen and (min-width: 1440px) {
    .journal .new-entry {
        display: flex;
        justify-content: space-between;
    }

    .journal .new-entry-group {
        margin-bottom: 0;
    }
}