.journal {
    padding: 20px;
}

.journal > h3 {
    margin: 0;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    text-align: left;
    padding-left: 10px;
}

.journal .accordion-indicator::after {
    content: "-";
    float: right;
    padding-right: 10px;
}

.journal .new-entry {
    border: 1px solid black;
    padding: 10px;
}

.journal .new-entry.hidden {
    display: none;
}

.journal .new-entry-group {
    margin-bottom: 20px;
}

.journal .new-entry-group input {
    width: 100%;
}

.journal .new-entry input[type=text], .journal .new-entry textarea {
    width: 100%;
}

.journal .new-entry-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.journal .cmd-btns {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex: 0 0 12%;
}

@media only screen and (min-width: 640px) {
    .journal .new-entry {
        width: 65%;
        display: flex;
        justify-content: space-between;
        margin: 5px auto 0 auto;
    }

    .journal .new-date {
        flex: none;
    }
    
    .journal .new-text {
        flex: 0 0 60%;
    }

    .journal .new-entry-group {
        margin-bottom: 0;
    }
}