.journal-year {
    margin: 5px auto 0 auto;
    text-align: left;
}

.journal-year .journal-entries {
    display: grid;
    width: 100%;
}

.journal-year .journal-entries.hidden {
    display: none;
}

@media only screen and (min-width: 640px) {
    .journal-year {
        width: 65%;
    }
}