:root {
    --mcgregor-font-size: 40px;
}

.landing-page {
    color: var(--clr-offwhite);
    font-family: 'Lora', serif;
}

.landing-page h1 {
    margin: 0;
    font-size: var(--mcgregor-font-size);
}

.landing-page > section {
    padding: 10px;
    background-color: var(--clr-eggplant);
}

@media only screen and (min-width: 425px) {
    :root {
        --mcgregor-font-size: 50px;
    }
}

@media only screen and (min-width: 768px) {
    :root {
        --mcgregor-font-size: 90px;
    }
}

@media only screen and (min-width: 1440px) {
    :root {
        --mcgregor-font-size: 100px;
    }
}