.landing-page h1 {
    margin: 0;
}

.landing-page > :nth-child(2) {
    background-color: gray;
}

.landing-page .linkify {
    cursor: pointer;
}

.landing-page > section {
    padding: 10px;
}

.landing-page .mcgregor {
    font-size: 40px;
}