.login-reg-form {
    width: 100%;
    padding: 10px;
    background-color: #A6AB9B;
    color: #5C5F5B;
    border-radius: 5px;
}

.login-reg-form > * {
    display: block;
    width: 100%;
}

.login-reg-form > h2 {
    margin-top: 0;
}

.login-reg-form > p {
    margin: 0;
    font-weight: 600;
}

.login-reg-form > input {
    background-color: var(--clr-offwhite);
    color: #5C5F5B;
    border-radius: 5px;
}

.login-reg-form > input:not(:last-child) {
    margin-bottom: 16px;
}

.login-reg-form > input[type=submit] {
    border: 1px solid #5C5F5B;
    color: #767974;
    font-family: inherit;
    font-weight: 600;
}

.login-reg-form > label {
    text-align: left;
    font-weight: 600;
}

.login-reg-form .demo {
    margin-top: 15px;
}

@media only screen and (min-width: 640px) {
    .login-reg-form {
        width: 50%;
    }
}

@media only screen and (min-width: 1000px) {
    .login-reg-form {
        width: 30%;
    }
}